
ul.gallery{ width: 100%; padding: 0; height: 300px; overflow: hidden;}

li.gallery-item{ 
    overflow: hidden; 
    width: 100%;
    height: 250px;
    margin-left: -110% ;   
}
li.gallery-item.show{margin-left: 0 ;height: 250px;transition:all 1s; }
li.gallery-item.hide{margin-left: 110% ; height:0px;transition:all 1s;}

div.gallery-text{right: 5%;top: 15%;color: white;font-weight: bold;font-size: 1.2em;}
img.gallery-img{width: 100%;margin-top: -36%;}